<h2>Join as IndexerPeer</h2>

<p class="span-13">When you become a IndexerPeer whatever updates sent to the site will 
  also be relayed to your site. Please note that when you join you are
  essentially asking a request and the current site owner has to accept
  you as a IndexerPeer before sending your site updates.</p>

<div class="span-24"> 
  <%= form_for :indexer_peer, :url => { :action => 'create' } do |f| %>
  <p>
    <%= f.label :url %>
    <br>
    <%= f.text_field :url, :class => "title" %>
  </p>

  <p>
    <%= f.label :callback_url %>
    <br>
    <%= f.text_field :callback_url, :class => "title" %>
  </p>

  <p>
    <%= f.label :admin_email %>
    <br>
    <%= f.text_field :admin_email, :class => "title" %>
  </p>

  <p>
    <%= f.label :public_key %>
    <br>
    <%= f.text_area :public_key %>
  </p>

  <p>
    <%= submit_tag 'Request' %>
  <p>
</div>
<% end %>
