<div class="span-24">
  <h1><%= @torrent.name %></h1>

  <table class="span-13">
    <tr>
      <td class="torrent-box-title">Download Link</td>
      <td><%= link_to 'Download', @torrent.torrent.url %></td>      
    </tr>

    <tr>
      <td class="torrent-box-title">Seeding</td>
      <td><%# TODO %></td>
    </tr>

    <tr>
      <td class="torrent-box-title">Leeching</td>
      <td><%# TODO %></td>
    </tr>

    <tr>
      <td class="torrent-box-title">Description</td>
      <td><%= @torrent.description %></td>
    </tr>

    <tr>
      <td class="torrent-box-title">Files</td>
      <td><%= @torrent.torrent_file_decoded['info']['name'] %></td>
    </tr>

    <tr>
      <td class="torrent-box-title">Trackers</td>
      <td><%= trackers_for @torrent %></td>
    </tr>
  </table>


</div>

<div class="comments">
  <div class="new-comment-box">
  </div>

  <div class="comment">
  </div>
</div>
