<!DOCTYPE html>
<html>
  <head>
    <title>tr_adin_gs</title>

    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %>
    <![endif]--> 

    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container">
      <h1>tr.adin.gs</h1>

      <div>
        <ul>
          <li><%= link_to 'New', '' %></li>
        </ul>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
