<!DOCTYPE html>
<html>
  <head>
    <title>Ravana</title>

    <%= render :partial => "shared/head" %>
  </head>

  <body>
    <div class="container">
      <div class="span-24 header">
        <h1><%= link_to 'Ravana', root_url %></h1>
      </div>

      <% if notice || alert %>
        <div class="span-24" id="messages">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>

      <div class="span-24">
        <%= yield %>
      </div>

      <div class="span-24 footer">
        <ul id="footer-menu">
          <li><%= link_to 'TrackerPeer', new_tracker_peer_url %></li>
        </ul>
      </div>
    </div>
  </body>
</html>

